[Unit]
Description=HashiCorp Vault Service

[Service]
ExecStart=/usr/bin/vault server -config=/etc/opt/vault/vaultconfig.hcl

[Install]
WantedBy=multi-user.target
